.card-style {
    width: 600px;
    padding: 20px;
    height: 400px;
}
 .card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
} 
.content {
    height: 100vh;
    width: 100%;
    background: #82cbed;
background: radial-gradient(circle,rgb(84, 41, 184) 0%, rgb(45, 118, 154) 68%, rgb(64, 150, 35) 100%);
}